<%- include('header') %>
<style>
    div{
        display: flex;
        justify-content: center;
        align-items: center;   
        margin-bottom: 100px;
        border: 1px solid #ccc;
        /* max-width: 700px; */
    }
    p{
        font-size: 20px;
    }
</style>   
    <h2><%- vagas.titulo %></h2>
    <div>
        <p><%- vagas.descricao %></p>
    </div>
<%- include('footer') %> 